<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table width="350" cellspacing="0" cellpadding="0">
    <tr>
      <td width="200" height="25">New password:</td>
      <td width="150">
        <input
          type="password"
          name="newPass"
          class="text_long"
          formControlName="newPass"
        />
      </td>
    </tr>
    <tr>
      <td height="25">Repeat new password:</td>
      <td>
        <input
          type="password"
          name="confirmPass"
          class="text_long"
          formControlName="confirmPass"
        />
      </td>
    </tr>
    <tr>
      <td height="25">Current password:</td>
      <td>
        <input
          type="password"
          name="currentPass"
          class="text_long"
          formControlName="currentPass"
        />
      </td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td>
        <button type="submit" name="veranderww" class="button">
          Change password
        </button>
      </td>
    </tr>
  </table>
</form>
