<table [width]="600" [border]="0" [cellSpacing]="0" [cellPadding]="0">
  <tr>
    <td [width]="120" valign="top">
      <img src="../../../assets/images/oak.png" />
    </td>
    <td [width]="380" valign="top">
      <p>
        Welcome to PokeWorld <br />
        My name is Professor Oak. <br />
        These are the lines of pokeworld.<br /><br />
        * You can only have 1 account.<br />
        * Do not swear at other players.<br />
        * Do not advertise other games.<br /><br />
        Failure to comply with these rules will result in you being banned from
        the site.
      </p>
      <button name="verder" class="button" (click)="navigateToChoose()">
        Continue
      </button>
    </td>
  </tr>
</table>
