<table width="390" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="5"><strong>Pok&eacute;mon team</strong><br /></td>
  </tr>
  <tr>
    <td width="50" class="top_first_td">#</td>
    <td width="90" class="top_td">Pok&eacute;mon</td>
    <td width="120" class="top_td">Nickname</td>
    <td width="60" class="top_td">Level</td>
    <td width="70" class="top_td">Release</td>
  </tr>
  <tr *ngFor="let pokemon of pokemons; let i = index">
    <td class="normal_first_td">{{ i + 1 }}</td>
    <td class="normal_td">
      <img
        [src]="
          '../../../assets/images/' +
          (pokemon.shiny ? 'shiny' : 'pokemon') +
          '/icon/' +
          pokemon.wild_id +
          '.gif'
        "
        width="32"
        height="32"
      />
    </td>
    <td class="normal_td">{{ pokemon.naam }}</td>
    <td class="normal_td">{{ pokemon["level"] }}</td>
    <td class="normal_td">
      <button
        type="button"
        name="submit"
        class="button_mini"
        style="float: right"
        (click)="release({ id: pokemon.id, wild_id: pokemon.wild_id })"
      >
        Release
      </button>
    </td>
  </tr>
</table>

<br /><br />

<table width="390" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="5">
      <strong>Pok&eacute;mon in your home</strong>
      <br />
    </td>
  </tr>
  <tr>
    <td width="50" class="top_first_td">#</td>
    <td width="90" class="top_td">Pok&eacute;mon</td>
    <td width="120" class="top_td">Nickname</td>
    <td width="60" class="top_td">Level</td>
    <td width="70" class="top_td">Release</td>
  </tr>
  <tr *ngFor="let pokemon of pokemonInHouse; let i = index">
    <td class="normal_first_td">{{ i + 1 }}</td>
    <td class="normal_td">
      <img
        [src]="
          '../../../assets/images/' +
          (pokemon.shiny ? 'shiny' : 'pokemon') +
          '/icon/' +
          pokemon.wild_id +
          '.gif'
        "
        width="32"
        height="32"
      />
    </td>
    <td class="normal_td">{{ pokemon["naam"] }}</td>
    <td class="normal_td">{{ pokemon["level"] }}</td>
    <td class="normal_td">
      <button
        type="button"
        name="submit"
        class="button_mini"
        style="float: right"
        (click)="release({ id: pokemon.id, wild_id: pokemon.wild_id })"
      >
        Release
      </button>
    </td>
  </tr>
</table>
