<div class="wrapeer">
  <div class="container">
    <div id="header">
      <div class="hbg">
        <div id="logo">
          <a routerLink="home"
            ><img
              style="height: 50px"
              src="https://pokeworld.nl/img/pokeworld.png"
          /></a>
        </div>
        <div class="space">
          <div class="menu nav">
            <ul class="menu main-navigation" *ngIf="!isLogin">
              <li class="menu li">
                <a routerLink="home">Home</a>
              </li>
              <li class="menu li">
                <a routerLink="register">Register</a>
              </li>
              <li class="menu li">
                <a routerLink="information">Information</a>
              </li>
              <li class="menu li">
                <a routerLink="statistics">Statistics</a>
              </li>
              <li class="menu li">
                <a routerLink="rankinglist">Ranking List</a>
              </li>
            </ul>
            <ul class="menu main-navigation" *ngIf="isLogin">
              <li class="menu">
                <a class="menu">General</a>
                <ul class="menu">
                  <li class="menu li">
                    <a href="admin/panel" *ngIf="isAdmin">Admin panel</a>
                  </li>
                  <li class="menu li">
                    <a>My account &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a routerLink="account-options/personal">Settings</a>
                      </li>
                      <li class="menu li">
                        <a routerLink="promotion">Promotion</a>
                      </li>
                      <li class="menu li">
                        <a routerLink="buddies">Buddies</a>
                      </li>
                      <!-- <? if($gebruiker['rank'] >= 18 AND $gebruiker['premiumaccount'] >= 1) echo '<li class="menu li"><a href="lvl-choose">Choose level</a></li>'; ?> -->
                      <li class="menu li">
                        <a routerLink="account-options/password">Password</a>
                      </li>
                      <li class="menu li">
                        <a routerLink="account-options/restart"
                          >Reset account</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="menu li">
                    <a>Information &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a routerLink="information">Pokeworld</a>
                      </li>
                      <li class="menu li">
                        <a routerLink="information/pokemon-info"
                          >Pok&eacute;mon</a
                        >
                      </li>
                      <li class="menu li">
                        <a routerLink="ranklist">Ranklist</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu li">
                    <a routerLink="statistics">Statistics</a>
                  </li>
                  <li class="menu li">
                    <a routerLink="rankinglist">Ranklist</a>
                  </li>
                  <li class="menu li" (click)="logout()"><a>Logout</a></li>
                </ul>
              </li>

              <li class="menu">
                <a class="menu" href="#">My home</a>
                <ul class="menu">
                  <li class="menu li">
                    <a>My Pok&eacute;mon &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a routerLink="extended">Information</a>
                      </li>
                      <li class="menu li">
                        <a routerLink="modify-order">Change order</a>
                      </li>
                      <li class="menu li">
                        <a href="house/bringaway">Send home</a>
                      </li>
                      <li class="menu li">
                        <a href="house/pickup">Pickup</a>
                      </li>
                      <li class="menu li">
                        <a href="release">Release</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu li">
                    <a href="#">My Items &raquo;</a>
                    <ul class="menu">
                      <li class="menu li"><a href="items">Items</a></li>
                      <li class="menu li"><a href="badges">Badges</a></li>
                      <li class="menu li">
                        <a href="pokedex&world='.$gebruiker['wereld'].'"
                          >Pokedex</a
                        >
                      </li>
                      '; ?>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="menu">
                <a href="#" class="menu">Activities</a>
                <ul class="menu">
                  <li class="menu li">
                    <a href="attack/attack_map">Attack</a>
                  </li>
                  <li class="menu li"><a href="trainer">Trainer</a></li>
                  <li class="menu li"><a href="missies">Missions</a></li>
                  <li class="menu li"><a href="work">Work</a></li>
                  <li class="menu li"><a href="travel">Travel</a></li>
                  <li class="menu li"><a href="fishing">Fish</a></li>
                </ul>
              </li>

              <li class="menu">
                <a href="#" class="menu">Town</a>
                <ul class="menu">
                  <li class="menu li">
                    <a href="pokemoncenter">Pok&eacute;moncenter</a>
                  </li>
                  <li class="menu li">
                    <a href="town">City &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a href="house-seller">Broker</a>
                      </li>
                      <li class="menu li">
                        <a href="bank&x=pinstort">Bank</a>
                      </li>
                      <li class="menu li">
                        <a href="attack/gyms">Gym</a>
                      </li>
                      <li class="menu li">
                        <a href="daycare">Daycare</a>
                      </li>
                      <li class="menu li">
                        <a href="name-specialist">Name Specialist</a>
                      </li>
                      <li class="menu li">
                        <a href="shiny-specialist">Shiny Specialist</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu li">
                    <a href="pokemarket">Pok&eacute;market &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a href="market&shopitem=balls">Pok&eacute;balls</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=potions">Potions</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=items">Items</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=specialitems">Vitamins</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=stones">Stones</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=pokemon">Eggs</a>
                      </li>
                      <li class="menu li">
                        <a href="market&shopitem=attacks">Attack</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu li">
                    <a href="#">Rocket hideout &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a href="sell">Sell Pok&eacute;mon</a>
                      </li>
                      <li class="menu li">
                        <a href="transferlist">Current sales</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menu li">
                    <a href="casino">Game corner &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a href="multiblackjack">Blackjack</a>
                      </li>
                      <li class="menu li">
                        <a href="flip-a-coin">Heads or tail</a>
                      </li>
                      <li class="menu li">
                        <a href="slots">Pok&eacute;slots</a>
                      </li>
                      <li class="menu li">
                        <a href="who-is-it-quiz">Who is it quiz</a>
                      </li>
                      <li class="menu li">
                        <a href="wheel-of-fortune">Wheel of fortune</a>
                      </li>
                      <li class="menu li">
                        <a href="poke-scrambler">Pok&eacute;mon name</a>
                      </li>
                      <li class="menu li">
                        <a href="kluis">Crack the vault</a>
                      </li>
                      <li class="menu li">
                        <a href="mystery-gift">Secret code</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu li"><a href="jail">Jail</a></li>
                </ul>
              </li>
              <li class="menu li">
                <a href="#">Pokeworld</a>
                <ul class="menu">
                  <li class="menu li">
                    <a href="trade-center">Trade</a>
                  </li>
                  <li class="menu li">
                    <a href="attack/duel/invite">Duel</a>
                  </li>
                  <li class="menu li"><a href="race-invite">Race</a></li>
                  <li class="menu li">
                    <a href="#">Clan &raquo;</a>
                    <ul class="menu">
                      <li class="menu li">
                        <a href="clan-profile&clan='.$gebruiker['clan'].'"
                          >My clan</a
                        >
                      </li>
                      <li class="menu li">
                        <a href="clan-make">New clan</a>
                      </li>
                      <li class="menu li">
                        <a href="clan-invite">Invite players</a>
                      </li>
                      <li class="menu li">
                        <a href="clan-rank">Clan rank</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu li">
                <a href="area-market"
                  >Premium
                  <img
                    src="../assets/images/items/Poke ball.png"
                    width="14"
                    height="14"
                    alt="Go Right"
                /></a>
                <ul class="menu">
                  <li class="menu li">
                    <a routerLink="premiummarket">Premium Market</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="header-bg">
      <div class="w960">
        <!-- breadcrumbs: top -->
        <div class="breadcrumbs"></div>

        <!-- social networks -->
        <div class="rel">
          <div class="social"></div>
        </div>
      </div>
    </div>
    <div id="main-top"><div class="rel"></div></div>
    <div id="main">
      <div id="content">
        <div class="box-top"></div>
        <div class="box-title">
          <span class="icon"><span class="icon-ann"></span></span>
          <h2>Welcome <span>PokemonAngular</span></h2>
        </div>
        <div class="box-con">
          <div class="rel"></div>
          <div class="teksts">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="box-btm"></div>
        <div class="box-top"></div>
        <div class="box-title">
          <span class="icon"><span class="icon-ann"></span></span>
          <h2>Online<span> Players</span></h2>
        </div>
        <div class="box-con">
          <div class="rel"></div>
          <div class="teksts">
            <app-online></app-online>
          </div>
        </div>
        <div class="box-btm"></div>
      </div>
      <div id="sidebar">
        <!-- user panel -->
        <app-login *ngIf="!isLogin; else LoggedIn"></app-login>
        <ng-template #LoggedIn>
          <app-user-details></app-user-details>
          <app-my-team></app-my-team>
        </ng-template>
        <div class="sb-title">
          <span class="icon"><span class="icon-search"></span></span>

          <h3>Search_Pokemon</h3>
        </div>
        <div class="sb-con" style="padding: 20px">
          <form method="get" action="/">
            <input
              name="pokemon"
              type="text"
              class="text_long"
              style="width: 95%"
            /><br /><br />
            <button type="submit" class="button" name="zoeken">Search</button>
          </form>
        </div>
        <div class="sb-end"></div>
      </div>
    </div>
  </div>
</div>
